.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 1.5s ease-in-out;
  gap: 4rem;
}

.slide {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.active {
  
}

.arrow {
  position: absolute;
  left: -60px;
  background-color: transparent;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #000;
  z-index: 2;
}

.arrow2 {
  position: absolute;
  right: -60px;
  background-color: transparent;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000;
  z-index: 2;
}
